<h1>GmailLike</h1>

<p><%= link_to "Recevoir un email", emails_path, method: :post, class: "btn btn-primary", remote: true %></p>

 <div class="container">
            
            
                <% @emails.each do |email| %>
                <div id="email-list" class="row">
                 
                <div class="col-4 bg-warning" id="toggl1" > <%=link_to email.object, email_path(email.id)  %></div>
                
                
                <div id="d1" class="col-6 bg-success"> <%=  %></div>
                
                </div> 
                <% end %>
                
           
 </div>






 